<!DOCTYPE html>
<html>
  <head>
    <title>Usuarios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user_id) { %>
        <h1>Eres el usuario con id --->  <%= user_id %></h1>
    <% } %>
    <img src="/images/img1.jpeg" alt="mountain" height="400" width="400">
  </body>
</html>
